body {
  text-align: center;
  margin-top: 3rem;
}

.calculator {
  background-color: #A1A6B4;
  border: solid 1px;
  border-radius: 10px;
  margin-right: 55rem;
  margin-left: 55rem;
  padding: 2rem;
  width: 200px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

#numBox {
  height: 50px;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  border: solid;
  border-radius: 10px;
  background: rgb(252,255,244);
  box-shadow: inset 0 0 10px #000000;
}
